{{#if guitars}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th class="four wide">Title</th>
        <th class="four wide">Description</th>
        <th class="two wide"> </th>
        <th class="two wide"> </th>
      </tr>
    </thead>
    <tbody>
      
      {{#each guitars}}
      
        {{> listoneguitar guitarId=../id}}
        {{> editguitar guitarId=../id}}

        <script>
    document.querySelector("#showEdit{{@index}}").addEventListener('click', () => {
        document.querySelector("#song{{@index}}").style.display = "none";
        document.querySelector("#edit{{@index}}").style.display = "table-row";
    })
    document.querySelector("#hideEdit{{@index}}").addEventListener('click', () => {
        document.querySelector("#song{{@index}}").style.display = "table-row";
        document.querySelector("#edit{{@index}}").style.display = "none";
    })
</script>

      {{/each}}
    
    </tbody>
  </table>

{{else}}
  <h3 class="ui message">
    Empty guitar list!
  </h3>

{{/if}}

