<tr id="song{{@index}}">
  <td>
    {{title}}
  </td>
  <td>
    {{description}}
  </td>

  <td class="center aligned">
    <button title="Edit guitar" class = "editSubmit" id="showEdit{{@index}}">
      <i class="ui pencil icon"></i>
    </button>
  </td>
  <td class="center aligned">
    <a href="/guitar/{{guitarId}}/deleteguitar/{{id}}" 
	   title="Delete guitar">
      <i class="ui black trash icon"></i>
    </a>
  </td>
</tr>
