<!-- Guitar list table partial -->
{{#if guitars.length}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th>Series Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop through guitars and display each in a row -->
      {{#each guitars}}
        <tr>
          <td>
            {{title}}
          </td>
          <td>
            {{description}}
          </td>
          <td class="center aligned">
    <a href="/guitar/{{../id}}/deleteguitar/{{id}}" 
	        title="Delete guitar">
            <i class="ui black trash icon"></i>
    </a>
</td>

        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty guitar!
    </h3>

{{/if}}
